.App {
  text-align: center;
}

form {
  background-color: lightgrey;
  padding: 50px;
  float: center;
}

textarea {
  width: 400px;
  height: 100px;
}

button {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  color: white;
  border-color: blue;
  padding: 8px 185px;
  border-radius: 10px;
  font-size: large;
  box-shadow: 0 8.5px #999;
}

p {
  border-style: solid;
  padding: 18px;
  font-size: large;
}

li {
  list-style-type: none;
}
span {
  display: block;
  text-align: center;
  font-size: small;
}
