form {
  background-color: lightgrey;
  padding: 50px;
  margin-right: 850px;

}

textarea {
  width: 400px;
  height: 100px;
}

button {
  display: block;
  background-color: blue;
  color: white;
  border-color: blue;
  margin-left: 360px;
}
